/* Assuming the header height is 64px */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding-top: 64px;
  /* Adjust according to the actual height of your header */
}

footer {
  padding: 20px;
  background-color: #0f172a;
  color: white;
  text-align: center;
}